/* Generelle Klassen*/

main{
    display: flex;
    flex-direction: column;
}

@media (width <=600px) {
body{
    display: flex;
    flex-direction: column;
    margin: 0em;
    font-size: 14px;
}
}

@media (width >600px){
  body{
      display: flex;
      flex-direction: column;
      margin: 0em;
      font-size: 16px;
  }
  }

/*Header & Footer Darstellung */

.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D0BCFF;
  padding-left: 2em;
  padding-right: 2em;
}

.nav_links {
  display: flex;
}

.nav_links li {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav_links li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F6EDFF;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

/* Interaktive Elemente*/

@media (width <=600px){
.Button_Container{
  display: flex;
  justify-content: center;
  width: fit-content;
  width: 100%;
} 
}

@media (width >600px){
  .Button_Container{
    display: flex;
    justify-content: center;
    width: fit-content;
  } 
  }

.Button_Container_wide{
  display: flex;
  justify-content: space-between;
}

.button{
  font-size: 1em;
  border-radius: 100px;
  background-color: #6750A4;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-top: 1em;
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: fit-content;
}

.button :hover{
  /* Hover effekt muss noch eingebaut werden */
}

.buttonsecondary {
  font-size: 1em;
  border-radius: 100px;
  background-color: #EADDFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: fit-content;
}

.top_up_button {
  height: 100% width;
  width: fit-content;
}

.top_up{
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

summary{
  display: flex;
  flex: row;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  border-bottom: #000000 1px solid;
}

.dropdown_content{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Darstellung des Bannerbands über die gesamte Breite des Displays*/

.Bannerband{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #9A82DB;
  padding-top: 0.25;
  padding-bottom: 0.25;
  margin: 0em;
}

.Bandinhalt{
  display: flex;
  font-size: 1.6em;
  color: white;
  padding: 0.25em;
}

/* Strukturelle Klassen zur Einteilung des Contents*/

.Weißraum{
  margin-left: 10%;
  margin-right: 10%;
}

@media (width <=600px) {
  .Hero{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  }
  
@media (width >600px){
  .Hero{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Inhaltsbereich{
  margin-top: 2em;
}
@media (width <=600px){
.Dreispaltig{
  display: flex;
  flex-direction:column ;
}
}
@media (width >600px){
  .Dreispaltig{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
  }
}

@media (width <=600px) {
  .Zweispaltig {
    width: 100%;
  }
  }
  
@media (width >600px){
.Zweispaltig {
  width: 50%;
}
}

@media (width <=600px){
  .Kachelcontainer{
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #FEF7FF ;
    border-radius: 12px;
    box-shadow: 30% #000000;
    /* shadow wird noch nicht angezeigt*/
  }
  }

@media (width >600px){
.Kachelcontainer{
  padding: 1.5em;
  margin-top: 2em;
  gap: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #FEF7FF ;
  border-radius: 12px;
  box-shadow: 30% #000000;
  /* shadow wird noch nicht angezeigt*/
}
}

@media (width <=600px){
.Kontentcontainer{
  padding: 2.75em;
}
}

@media (width >600px){
  .Kontentcontainer{
    padding: 2.75em;
  }
  }

@media (width <=600px){
.Kontentcontainer_Hero{
  padding: 0em;
}
}
    
@media (width >600px){
  .Kontentcontainer_Hero{
  padding-right: 2em;
  }
}  

.Container_Transparent{
  margin-top: 2em;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
}

/*Styles für Textblöcke*/ 

.Textblock_links{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: 2em;
}

.Textblock_rechts{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 2em;
}

.Textblock_einzeln{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Beschreibung{
  display: flex;
  flex-direction: column;
}

/* Styles zur Darstellung der verschiedenen Bildelementen*/

.Bildcontainer_column{
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Bildcontainer_row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Icon{
  width: 1.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.logo{
  height: 2em;
}

.Herobild{
  width: 100%;
}

.Kachelbild{
  width: 100%;
}

.Kachelbild_App{
  width: 50%;
}

.illustration{
  height: 4em;
  padding: 1em;
}

/*Darstellung der Tabs*/
.tabs {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.tabs__label {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  background-color: #E6E0E9;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-left: 2px solid #79767D;
  border-right: 2px solid #79767D;
  border-top: 2px solid #79767D;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border: 2px solid #79767D;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: none;
  padding: 2em;
}

.tabs__radio:checked + .tabs__label {
  font-weight: 700;
  border-left: 2px solid #79767D;
  border-right: 2px solid #79767D;
  border-top: 2px solid #79767D;
  background-color: white;
 
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}