/* Generelle Klassen*/

main{
    display: flex;
    flex-direction: column;
}

@media (width <=600px) {
body{
    display: flex;
    flex-direction: column;
    margin: 0em;
    font-size: 14px;
}
}

@media (width >600px){
  body{
      display: flex;
      flex-direction: column;
      margin: 0em;
      font-size: 16px;
      background:
        url(Bilder/Dekorative_Elemente/Group1.svg) no-repeat 100% 30%,
        url(Bilder/Dekorative_Elemente/Group1.svg) no-repeat -20% 50%,
        url(Bilder/Dekorative_Elemente/Group1.svg) no-repeat 35% 110%;
  }
  }

/*Header & Footer Darstellung */

.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D0BCFF;
  padding-left: 2em;
  padding-right: 2em;
  height: 60px;
}

@media (width >600px) {
.nav_links {
  display: flex;
}
}

@media (width <=600px) {
  .nav_links {
    display: none;
  }
}

.nav_links li {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav_links li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.nav_links li a:hover{
  transform: scale(1.1);
}

@media (width >600px) {
.mobile {
  display: none;
}
}

@media (width <=600px) {
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
  }
  }


/* Test für Mobiles Burgermenü*/ 

.container {
  height: 60px;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.container .checkbox {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 10px;
  left: 10px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.navbar .menu-items {
  display: flex;
  gap: 2em;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  transform: translate(-150%);
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: white;
}

.nav_links_mobile {
  display: flex;
  gap: 2em;
  flex-direction: column;
  padding-top: 4em;
  text-align: center;
  padding-inline-start: 0px;
}

.nav_links_mobile li a {
text-decoration: none;
font-size: 1em;
color: black;
}

footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F6EDFF;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

.nav_links_footer {
  display: flex;
}

.nav_links_footer li {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav_links_footer li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.nav_links_footer li a:hover{
  transform: scale(1.1);
}

/* Interaktive Elemente*/

@media (width <=600px){
.Button_Container{
  display: flex;
  justify-content: center;
  width: fit-content;
  width: 100%;
} 
}

@media (width >600px){
  .Button_Container{
    display: flex;
    width: fit-content;
  } 
  }

.Button_Container_wide{
  display: flex;
  justify-content: space-between;
}

.button{
  font-size: 1em;
  border-radius: 100px;
  background-color: #6750A4;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  margin-top: 1em;
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: fit-content;
}

.button:hover{
  box-shadow: 0px 2px 3px 0px #00000030, 0px 2px 4px 2px #00000015;
  background-color:#6650a4dc
  /* Hover effekt muss noch eingebaut werden */
}

.buttonsecondary {
  font-size: 1em;
  border-radius: 100px;
  background-color: #EADDFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
  width: fit-content;
}

.buttonsecondary:hover{
  box-shadow: 0px 2px 3px 0px #00000030, 0px 2px 4px 2px #00000015;
  background-color: #6750A4;
}

.top_up_button {
  height: 100% width;
  width: fit-content;
}

.top_up{
  display: flex;
  justify-content: right;
  padding-right: 1em;
}

summary{
  display: flex;
  flex: row;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  border-bottom: #000000 1px solid;
}

.dropdown_content{
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.dropdown{
  margin-top: 1em;
  margin-bottom: 2em;
}

/* Darstellung des Bannerbands über die gesamte Breite des Displays*/

.Bannerband{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #9A82DB;
  padding-top: 0.25;
  padding-bottom: 0.25;
  margin: 0em;
}

.Bandinhalt{
  display: flex;
  font-size: 1.6em;
  color: white;
  padding: 0.25em;
}

/* Strukturelle Klassen zur Einteilung des Contents*/

.Weißraum{
  margin-left: 10%;
  margin-right: 10%;
}

@media (width <=600px) {
  .Bild_Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }
  }
  
@media (width >600px){
  .Bild_Text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
  }
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: left;
}

.Inhaltsbereich{
  margin-top: 2em;
  margin-bottom: 1em;
}
@media (width <=600px){
.Dreispaltig{
  display: flex;
  flex-direction:column ;
}
}
@media (width >600px){
  .Dreispaltig{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
  }
}

@media (width <=600px) {
  .Zweispaltig {
    width: 100%;
  }
  }
  
@media (width >600px){
.Zweispaltig {
  width: 50%;
}
}

@media (width <=600px){
  .Kachelcontainer{
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 1em;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #FEF7FF ;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* shadow wird noch nicht angezeigt*/
  }
  }

@media (width >600px){
.Kachelcontainer{
  padding: 1.5em;
  margin-top: 2em;
  gap: 1em;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: #FEF7FF ;
  border-radius: 12px;
  box-shadow: 0px 4px 8px 3px #00000015, 0px 1px 3px 0px #00000030;
  /* shadow wird noch nicht angezeigt*/
}
}

@media (width <=600px){
.Kontentcontainer{
  padding: 2.75em;
}
}

@media (width >600px){
  .Kontentcontainer{
    padding: 2.75em;
  }
  }

@media (width <=600px){
.Kontentcontainer_Hero{
  padding: 0em;
}
}
    
@media (width >600px){
  .Kontentcontainer_Hero{
  padding-right: 2em;
  }
}  

.Container_Transparent{
  margin-top: 2em;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: left;
}

/*Styles für Textblöcke*/ 
@media (width <=600px){
  .Textblock_links{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: flex-start;
  }
}
@media (width >600px){
.Textblock_links{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: 2em;
}
}

@media (width <=600px){
.Textblock_rechts{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
}

@media (width >600px){
  .Textblock_rechts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 2em;
  }
}

.Textblock_einzeln{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Beschreibung{
  display: flex;
  flex-direction: column;
}

/* Styles zur Darstellung der verschiedenen Bildelementen*/
@media (width <=600px){
.Bildcontainer_column{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
}

@media (width >600px){
.Bildcontainer_column{
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }  
}

.Bildcontainer_row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.Icon{
  width: 1.2em;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.logo{
  height: 2em;
}

.Herobild{
  width: 100%;
}

.Kachelbild{
  width: 100%;
}

.Kachelbild_App{
  width: 50%;
}

.Kachelbild_Tabs{
  width: 100%;
  height: auto;
}

.illustration{
  height: 4em;
  padding: 1em;
}

@media (width <=600px){
.Tabicon{
width: 2em;
margin-right: 0.25em;
margin-left: 0.25em;
}
}
              
@media (width >600px){
.Tabicon{
width: 1.2em;
margin-right: 0.25em;
margin-left: 0.25em;
}
}

.Listicon{
 width: 1em;
 padding-right: 0.5em;
}

li{
  list-style-type: none;
  padding: 0.1em;
}

/*Darstellung der Tabs*/
.tabs {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 2em;
}

.tabs__label {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  cursor: pointer;
  background-color:#FFFFFF;
  border-bottom: 2px solid #E6E0E9;
  border-left: 2px solid #79767D;
  border-right: 2px solid #79767D;
  border-top: 2px solid #79767D;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
@media (width <=600px){
.tab_label_text{
  display: none;
}
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-left:2px solid #79767D;;
  border-right:2px solid #79767D; 
  border-bottom:2px solid #79767D; ;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: none;
  padding: 1.5em;
  background-color: #FFFFFF
}

.tabs__radio:checked + .tabs__label {
  font-weight: 700;
  border-left: 2px solid #79767D;
  border-right: 2px solid #79767D;
  border-top: 2px solid #79767D;
  background-color: #FFFFFF;
  border-bottom: 2px solid #6750A4;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

/*Test mit dekorativen Hintergrundelementen*/

.Hintergrundelement_1{
  background-image: url(Bilder/Dekorative_Elemente/Group\ 1\ \(2\).svg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: 14em;
}