main{
    display: flex;
    flex-direction: column;

}

body{
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    margin: 0em;
    font-size: 16px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.column{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 2em;
}

.navigation{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D0BCFF;
  padding-left: 2em;
  padding-right: 2em;
}

.nav_links {
  display: flex;
}

.nav_links li {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nav_links li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.Zweispaltig {
  width: 50%;
}

.Hero{
  width: 100%;
}

.Kontentcontainer{
  padding: 2.75em;
}

.Icon{
  width: 1.5em;
  margin-left: 0.5em;
}

.button{
  font-size: 1em;
  border-radius: 100px;
  background-color: 6750A4;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.Button_Container{
  display: flex;
}

.Bannerband{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #9A82DB;
  padding-top: 0.25;
  padding-bottom: 0.25;
  margin: 0em;
}

.Bandinhalt{
  display: flex;
  font-size: 1.6em;
  color: white;
  padding: 0.25em;
}

.Dreispaltig{
  display: flex;
  justify-content: space-between 2em;
  padding-left: 3em;
  padding-right: 3em;
  /* Hier fehlt noch die gleichmäßige Größe der Boxen */
}
.Kachelcontainer{
  padding: 1.5em;
  margin-top: 2em;
  margin-left: 2em;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #FEF7FF ;
  border-radius: 12px;
  box-shadow: 30% #000000;
  /* shadow wird noch nicht angezeigt*/
}

/*  Schriftarten/Fonts*/

h1{
    font-size: 4em;
}

.black{
  color: black;
}

.white{
  color: white;
}

p{
    font-size: 1,125em;
}

h3{
  font-size: 1.625em;
}

/* Roboto-Schriften vorerst zum prüfen */

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }  